<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" type = "text/css" media = "all" href = "../../assets/css/external.css">
        <title>{{title}}</title>
    </head>
    <body>
        {{>navbar}}
        {{{body}}}
    </body>
</html>