<div>

	<link rel = "stylesheet" href = "../../assets/css/profilestyle.css">
	
	        <section class = "details">
				<div class = "details-container">
					<div class = "p-heading">
						<h3>John Smith</h3>
					</div>
					<div>
						<h4>@youngcollegestudent</h4>
						<h4>3 friends</h4>
					</div>
					<div>
						<p>please make me a good schedule</p>
					</div>
					<div class = "edit-button-container">
						<button class = "edit-button">Edit Profile</div>
				</div>
				
				<div class = "profile-container">
					<div class = "p-box">
						<div class = "p-box-img">
							<img src="../images/friendprofile.png" alt=""/>
						</div>
						
						<div class = "p-box-details">
							<form>
								<label for = "username">USERNAME</label>
									<input type = "text" id = "username" name = "username" value = "youngcollegestudent"><br><br>
								<label for = "bio">BIO</label>
									<input type="text" id="bio" name="bio" value="please make me a good schedule"><br><br>
								<label for = "fname">FIRST NAME</label>
									<input type = "text" id = "fname" name = "fname" value = "John"><br><br>
								<label for = "lname">LAST NAME</label>
									<input type = "text" id = "lname" name = "lname" value = "Smith"><br><br>
								<label for = "email">EMAIL</label>
									<input type = "text" id = "email" name = "email" value = "student123@school.com"><br><br>
								<label for = "password">PASSWORD</label>
									<input type = "password" id = "password" name = "password" value = "hello123">
							</form> 
						</div>
					</div>
				</div>
			</section>
</div>