<div>

	<link rel = "stylesheet" href = "../../assets/css/schedstyle.css">
	
	<div class="user-schedules">
				<li><a href="#">+</a></li>
				<li><a href="#">Schedule 4</a></li>
				<li><a href="#">Schedule 3</a></li>
				<li><a href="#">Schedule 2</a></li>
				<li><a href="#">Schedule 1</a></li>
		</div>
	
    <div class="schedule">
		<table style="width:80%" cellborder="1">
			<tr>
				<td>
					Time
				</td>
				<td>
					Sunday
				</td>
				<td>
					Monday
				</td>
				<td>
					Tuesday
				</td>
				<td>
					Wednesday
				</td>
				<td>
					Thursday
				</td>
				<td>
					Friday
				</td>
				<td>
					Saturday
				</td>
			</tr>
			<tr>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
			</tr>
			<tr>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
			</tr>
			<tr>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
			</tr>
			<tr>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
			</tr>
			<tr>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
			</tr>
			<tr>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
			</tr>
			<tr>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
			</tr>
			<tr>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
			</tr>
			<tr>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
			</tr>
			<tr>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
			</tr>
			<tr>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
			</tr>
			<tr>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
			</tr>
			<tr>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
				<td>
					<textarea name="" id="" cols="15" rows="1"></textarea>
				</td>
			</tr>
		</table>
		
			<div class="schedule-buttons">
				<li><a href="#">Delete Schedule</a></li>
				<li><a href="#">Edit/Save Schedule</a></li>
				<li><a href="#">Create Schedule</a></li>
			</div>
		</div>
</div>