<div>

	<link rel = "stylesheet" href = "../../assets/css/schedstyle.css">
	
	<form action = "/schedules/new" method="get">
		<button type="submit">New Schedule</button> <br>  
	</form>
	
	<form action = "/schedules/save" method="POST">
	
			<input type="number" id="schednum" name="schednum" placeholder="Schedule Number">
		
			<label for="time">Time: </label>
			<input type="time" id="time" name="time">
			
			<fieldset>
			  <legend>Days</legend>
			  <div>
				<input type="radio" id="sun" name="day" value="sunday">
				<label for="coding">Sunday</label>
			  </div>
			  <div>
				<input type="radio" id="mon" name="day" value="monday">
				<label for="music">Monday</label>
			  </div>
			  <div>
				<input type="radio" id="tues" name="day" value="tuesday">
				<label for="music">Tuesday</label>
			  </div>
			  <div>
				<input type="radio" id="wed" name="day" value="wednesday">
				<label for="music">Wednesday</label>
			  </div>
			  <div>
				<input type="radio" id="thur" name="day" value="thursday">
				<label for="music">Thursday</label>
			  </div>
			  <div>
				<input type="radio" id="fri" name="day" value="friday">
				<label for="music">Friday</label>
			  </div>
			  <div>
				<input type="radio" id="sat" name="day" value="saturday">
				<label for="music">Saturday</label>
			  </div>
			</fieldset>
			
			<input type="text" id="event" name="event" placeholder="Event/Item">
			
			<button type="submit">Add event/item</button> <br> <br>
		</form>
		
		<form action = "/schedules/table" method="post">
		<input type="number" id="schednum" name="schednum" placeholder="Schedule Number">
		<button type="submit">Generate Table</button> <br>  
		</form>
		
		<table>
			<tbody>
			  {{#each array}}
				<tr>
				  {{#each this}}
					<td>{{this}}</td>
				  {{/each}}
				</tr>
			  {{/each}}
			</tbody>
		</table>
		
		
		
		<script>
		function checkCheckbox() {  
			var sun = document.getElementById("sun");  
		    var mon = document.getElementById("mon");  
			var tues = document.getElementById("tues");  
			var wed = document.getElementById("wed");  
			var thur = document.getElementById("thur");  
			var fri = document.getElementById("fri");  
			var sat = document.getElementById("sat");  
			var time = document.getElementById("time").value;
			
			alert(time);
			
		    if (sun.checked == true){  
				alert("Sunday");
		    }  
		    if (mon.checked == true){  
				alert("Monday");
		    }   
		    if (tues.checked == true){  
				alert("Tuesday");
		    }  
		    if (wed.checked == true){  
				alert("Wednesday");
		    }  
			if (thur.checked == true){  
				alert("Thursday");
		    }  
			if (fri.checked == true){  
				alert("Friday");
		    }  
			if (sat.checked == true){  
				alert("Saturday");
		    }
		}			
		
		</script>

</div>